#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  color: #242424;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

svg {
  width: 50vw;
  height: 60vh;
}

input {
  background: none;
  border: none;
}

h1, h2 {
  color: #242424;
  opacity: 60%;
  margin-top: 1rem;
}

.switchThemeButton {
  cursor: pointer;
  color: #242424;
}

.saveArtworkButton {
  background-color: #18d000;
}

.slider-container {
  margin: 20px 0;
  color: #242424;
}

label {
  color: #242424;
}

.slider-container input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 10rem;
  height: 0.5rem;
  background: #F2E7D5;
  outline: none; 
  opacity: 0.7;
  border-radius: .5rem;
  margin-left: 1rem;
  -webkit-transition: .2s; 
  cursor: pointer;
  transition: opacity .2s;
}

.slider-container input[type=range]:hover {
  opacity: 1;
}

.slider-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px;
  background: #6D9886;
  cursor: pointer; 
  border-radius: 50%;
}

.slider-container input[type=range]::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #6D9886;
  cursor: pointer;
  border-radius: 50%; 
}


.slider-container input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #202020;
  border-radius: 1.3px;
}

.slider-container input[type=range]:focus {
  outline: none;
}

.slider-container label {
  display: block;
  margin-bottom: 10px;
}


.pattern-controlls-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 2rem;
}

.saved-artworks-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 10px;
  margin-bottom: 20px;
}

.artwork-preview {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* .saved-artworks svg {
  width: 25vw;
  height: 30vh;
} */