.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 2rem;
}

.loginButton {
  background-color: #00ab64;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.signupButton {
  background-color: #0439f7;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.signupButton:hover {
  background-color: #0d2b91;
  color: white;
}

.loginButton:hover {
  background-color: #007444;
  color: white;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #00ab64;
}